body {
  background-color: #003545 !important;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  display: none;
}

.card-img-top {
    height: 60vw;
    object-fit: cover;
}

.card-body {
  background-color: #003545;
  color: #dedede;
  border-bottom: 1px red !important;
  opacity: .93;
}

.card {
  border: none !important;
  height: 30 vw !important;
}

.card-title {
  color: #dedede;
}
.card-title:hover {
  color: #ed6363;
  text-decoration: none;
}

.card-subtitle {
  color: #6c757d;
}
.card-subtitle:hover {
  color: #ed6363;
  text-decoration: none;
}

@media all and (min-width: 480px) {
  .card-img-top {
      height: 12vw;
      object-fit: cover;
  }
}


.nav-link{
  color: white;
  font-variant: small-caps;
  font-size: 1.75vw;
}
.nav-link:hover{
  color: #ed6363;
}

.form-control-override {
  display: block;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
