.profile-button{
    max-width: 2em;
}
.profile-toggle{
    background-color: rgba(255, 255, 255, 0) !important;
    display:none;
    border: none !important;

}
.profile-toggle::after{
    background-color: rgba(255, 255, 255, 0) !important;
    display:none;
    border: none !important;

}

.nav-link img{
 max-width: none !important;
}

.profile-button{
    max-width: none !important;
}

.nav-dropdown-link{
    display: block;
    width: 100%;
    /* padding: .25rem 1.5rem; */
    clear: both;
    font-weight: 400;
    color: #212529 !important;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.nav-dropdown-link a{
    color: black !important;
}

.nav-logo{
  width: 4em;
}
