.profile-button{
    max-width: 2em;
}
.profile-toggle{
    background-color: rgba(255, 255, 255, 0) !important;
    display:none;
    border: none !important;

}
.profile-toggle::after{
    background-color: rgba(255, 255, 255, 0) !important;
    display:none;
    border: none !important;

}

.nav-logo{
  width: 4em;
}

.dropdown-item{

}
