.calendar-background{
    background-color: #FFFFFF;
}

/* .rbc-event {
    z-index: 999 !important;
  } */


/* Prevents readonly input field bug */
#time{
    z-index: 999999;
}

#url{
    z-index: 999999;
}